.comment {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f2f2f2;
}

.comment__user-name {
  color: #283645;
  font-weight: bold;
}

.comment__time {
  font-weight: 300;
  color: #283645;
}

.comment__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.comment__like {
  color: #d22856;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}
