.features {
  position: relative;
  min-height: 1000px;
  margin: 0 -20px;
  text-align: center;

  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 725px;
  background-color: #f2f2f2;
}

.features__slogan {
  margin: 0;
  padding-top: 40px;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.25;

  background-color: #ffffff;
}

p:nth-of-type(2).features__slogan {
  padding-top: 28px;
}

.features__list {
  list-style: none;
  padding: 30px;
  padding-bottom: 10px;
  margin-top: 65px;
  margin-bottom: 0;
}

.features__item {
  margin-bottom: 32px;
}

.features__image {
  display: none;
}

.features__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.features__text {
  margin: 0;
  color: #283645;
}

.features__effect {
  display: none;

  text-align: left;
}

@media (min-width: $tablet-width) {
  .features {
    min-height: 800px;

    /*background-image: url("..//img/iphone-screen-3-tablet@1x.png");
    background-position: bottom left;*/
  }

  .features__slogan {
    margin: 0;
    padding: 50px 0;
    font-size: 40px;
    font-weight: lighter;
  }

  .features__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .features__list {
    order: 2;
    width: 300px;

    text-align: left;
  }

  .features__main-image {
    margin: 50px;
  }

  .features__effect {
    display: flex;

    .features__image {
      display: block;
      margin: 30px;
    }

    .features__effect-wrapper {
      width: 295px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .features__main-image {
    display: none;
  }

  .features__effect {
    .features__effect-wrapper {
      width: 525px;
    }
  }
}
