.form-contest {
  background-color: #ffffff;
}

.form-contest__submit {
  width: 280px;
  margin-top: 20px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
  border-radius: 1px;
}
