.form-post {
  margin: 0 -20px;

  background-color: #f2f2f2;
}

.form-post__title {
  margin: 0;
  padding: 50px 35px;

  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  background-color: #ffffff;
}

.form-post__photo {
  display: block;
  margin: 20px;
}

.form-post__tools-buttons {
  text-align: center;
}

.form-post__tool {
  font-size: 8px;
}

.form-post__range-controls {
  min-height: 40px;
}

.form-post__submit {
  width: 280px;
  margin-left: 20px;
  margin-top: 20px;
  color: #d22856;
  border-color: #d22856;
}

.form-post__cancel {
  width: 280px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}

@media (min-width: $tablet-width) {

  .form-post__wrapper {
    display: flex;
  }

  .form-post__tools {
    padding-top: 150px;
  }
}
