.get-application {
  color: #ffffff;
  background-color: #000000;
}

.get-application__button {
  color: #ffffff;
  border: solid 3px #ffffff;
}

.get-application__list {
  display: flex;
  color: #ffffff;
  list-style: none;
}

.get-application__link {
  color: #ffffff;
}

.get-application__info {
  color: #ffffff;
  font-weight: 300;
}
