.reviews {
  width: 320px;
  min-height: 260px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.slider__item {
  margin: 22px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
